@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import "libs/bootstrap-reboot.min";

@import "variebles";
@import "mixin";
@import "general";
@import "media";
@import "animation";
@import "blocks/promo";
@import "blocks/title";
@import "blocks/button";
@import "blocks/sidepanel";
@import "blocks/menu";
@import "blocks/skills";
@import "blocks/portfolio";
@import "blocks/price";
@import "blocks/contacts";
/* @import "blocks/about_me"; */
@import "blocks/about";
@import "blocks/resume";


@import "adaptive";




					