.skills {
    padding: 185px 0 0 0;
    &__title {
        position: relative;
        text-align: center;
        margin-bottom: 5px;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    .divider {
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper {
        padding: 60px 10px 120px 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 270px);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 13px;
        row-gap: 13px;
        justify-content: center;

    }
    &__item {
        padding: 30px 30px 25px 30px;
        width: 270px;
        border: 1px solid #000;
        &-img {
            width: 100%;
            margin-bottom: 20px;
        }
        &-body {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__progress {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
        grid-template-rows: repeat(2, 70px);
        grid-auto-rows: 70px;
        column-gap: 45px;
        row-gap: 30px;
        justify-content: center;
        &-title {
            position: relative;
            padding-left: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include before_circle;
        }
        &-rectangle {
            position: relative;
            margin-top: 27px;
            &-band {
                position: absolute;
                width: 100%;
                height: 14px;
                background: #E8E4DE;
                border-radius: 4px;
                z-index: -1;
                &-active {
                    position: absolute;
                    height: 14px;
                    background: $main-color;
                    border-radius: 4px;
                }
            }
        }
    }
}