.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fs14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fs16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fs20 {
        font-size: 16px;
        line-height: 30px;
    }
    &_fs36 {
        font-size: 36px;
    }
    &_fs48 {
        font-size: 48px;
    }
}
.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    &_fs12 {
        font-size: 12px;
        line-height: 18px;
    }
}